#Reglas del Servidor
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteRule ^(.*)$ //index.php/$1 [L]

#Para obtener la variable de la pagina al que se quiere accesar
#RewriteRule ^([a-zA-Z0-9\ -]*)$ /index.php?page=$1 [L]
RewriteRule ^([a-zA-Z0-9\ -]*)$ index.php?page=$1 [L]
RewriteRule ^panel/([a-zA-Z0-9-]*)/([a-zA-Z0-9-]*)/([A-Za-z0-9\ -]*)$ index.php?page=panel&subpage=$1&action=$2&dato=$3 [L]
RewriteRule ^panel/([a-zA-Z0-9-]*)/([a-zA-Z0-9-]*)$ index.php?page=panel&subpage=$1&action=$2 [L]
RewriteRule ^panel/([a-zA-Z0-9-]*) index.php?page=panel&subpage=$1 [L]

#Errores - cambiar plantilla por nombre de la pagina.
ErrorDocument 404 /ancaor2017/error
ErrorDocument 403 /ancaor2017/error

#Extensiones que soporte php.
	#AddType => para agregar el tipo.
	#application/x-httpd-php => el tipo de lenguaje.
	#.phtml .htm las extensiones que se desea.
AddType application/x-httpd-php .phtml .htm